.friend {
	border: 1px solid black;
	margin: 10px auto;
	padding: 10px 20px;
	max-width: 300px;
}
.friend h3 {
	font-size: 1.872rem;
	margin: 10px 10px;
	display: inline;
}
.friend h4 {
	font-size: 1.328rem;
	margin: 10px 10px;
	display: inline;
}
.friend h5 {
	font-size: 1.328rem;
	margin: 10px 0;
}

.btn-primary {
	-webkit-appearance: button;
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	align-items: flex-start;
	cursor: default;
	background-color: buttonface;
	box-sizing: border-box;
	margin: 0em;
	font: 400 13.3333px Arial;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	border-image: initial;
}

.friend .btn-delete {
	margin-right: 15px;
}

.friend .btn-update {
	margin-left: 10px;
}
